@media (min-width: 992px) {
  .cost-col-lg-3 {
    flex: 0 0 17.7%;
    width: 25%;
  }
}

.banner-1{
  overflow: hidden;
}
.banner-1 img{
  transition: all .5s;
}
.banner-1:hover img{
  transform: scale(1.05);
  transform: rotate(3deg);
}